.pokemon-details-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 16px;
    padding: 5%;
    margin-top: 1rem;
    background-color: rgba(255, 0, 0, 0.671);
}
.pokemon-details-name {
    font-size: xx-large;
    color: black;
    margin-top: 1rem;
}

.pokemon-details-name > span {
    letter-spacing: 0.6rem;
}

.pokemon-details-types {
    display: flex;
    margin-top: 2rem;
    font-size: larger;
    gap: 3rem;
}

.pokemon-details-types > div {
    border:  1px solid #fffb00;
    border-radius: 16px;
    padding: 1rem;
    background-color: #fffb00cb;
}

.pokemon-details-image {
    max-height: 200px ;
}